<% layout("layout") -%>



<div class="container">
	<div class="row">
	<% products.forEach(function(product){ %>
		<div class="col-md-4">
			<a style="text-decoration: none;" href="/product/<%= product._id %>">
			<div class="thumbnail">
				<img src="<%= product.image %>">
				<div class="caption">
				<div class="text-center">
					<h3><%= product.name %></h3>
					<p><%= product.category.name %></p>
					<p>Php<%= product.price %></p>
				</div>
				</div>
			</div>
			</a>
		</div>
		<% }); %>
	</div>
</div>